<?xml version="1.0"?>
<config>
    <modules>
        <MobWeb_UseShortDescriptionAsMetaDescriptionForProduct>
            <version>0.1.0</version>
        </MobWeb_UseShortDescriptionAsMetaDescriptionForProduct>
    </modules>
    <global>
        <blocks>
            <catalog>
                <rewrite>
                    <product_view>MobWeb_UseShortDescriptionAsMetaDescriptionForProduct_Block_Product_View</product_view>
                </rewrite>
            </catalog>
        </blocks>
    </global>
</config>